/* 
    Main CSS styles for the website
    @author Isabel Cruz.
*/
img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FF4141;
    text-align: center;
}

#font1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
    color: #FF7474;
    text-align: center;
}

#font3 {
    font-family: 'Poppins', sans-serif;
}
